html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

img {
  width: 100%;
}

a {
  color: #ccc;

  border-color: #444;
}
